body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.app-name {
  position: relative;
  display: inline-block;
  width: 100%;
}

.money-img {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.app-name-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
}

.mdl-layout__header-row{
width: auto;
}
.mdl-layout__header,
.mdl-layout__drawer {
  background-color: #6200ea;
  color: white;
}

.mdl-layout-title,
.mdl-navigation .mdl-button {
  color: white;
}

.mdl-layout__drawer {
  background-color: #3700b3;
}

.category-title {
  background-color: #27ae60;
  padding: 5px 8px;
  border-radius: 50px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0px 0px 18px;
  gap: 4px;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: fit-content;
}

.fab-container {
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 1000;
}

.mdl-dialog__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hidden {
  display: none;
}

 .credi, .debi {
  padding: 6px 10px; 
  margin: 6px; 
  border-radius: 4px; 
  border: 1px solid #ccc; 
  background-color: #f0f0f0; 
  align-items: center; 
  font-size: 14px; 
  line-height: 1.4; 
}
.comparison {
  padding: 10px;
  margin: 5px 15px 5px 15px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 7px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  position: relative; 
}
.comparison p{
  font-weight: bold;

}

.expense {
  padding: 5px;
  margin: 5px 15px 5px 15px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 7px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  position: relative; 
}
.expense-amount-type {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}
.expense-amount-type .credit {
  color: #27ae60; /* Green for credit */
}

.expense-amount-type .debit {
  color: #f14343; /* Red for debit */
}


.expense-category {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.expense-description {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}
.credit {
  border-color: #27ae60; 
}

.debit {
  border-color: #f14343; 
}



.category-container {
  display: flex;
  padding: 10px; 
}

.tile-row {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tile {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: #ffffff;
  border: 1px solid #ededed;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.tile:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fa-solid {
  font-size: 35px; 
  color: #9e71e7;
  transition: transform 0.3s ease, color 0.3s ease;
}
.fa-plus{
color: white;
font-size: 18px; ;
}

.btn-container {
  position: absolute;
  top: 10px;
  right: 10px; 
  display: flex;
}
.mdl-button__ripple-container{
  margin: 20px;
}
.edit-btn,
.delete-btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  margin-left: 5px; 
}

.edit-btn .fa-pen,
.delete-btn .fa-trash {
  font-size: 18px; 
}

.edit-btn {
  color: #608afc; 
}

.delete-btn {
  color: rgb(247, 83, 83); 
}

.edit-btn:hover,
.delete-btn:hover {
  color: #4360f5; 
}

.fa-pen {
  color: #608afc; 
}

.fa-trash {
  color: rgb(247, 83, 83); 
}

.icon-container {
  flex: 0 0 auto; 
  margin-right: 15px; 
}

.info-container {
  flex: 1 1 auto; 
  display: flex;
  flex-direction: column;
}

.category-name {
  margin: 0 0 1px 0;
  font-weight: bold;
}

.limit-label {
  margin: 0;
  font-size: 12px;
  color: #666;
}

#addButton {
  transition: transform 0.3s ease;
}

#addButton:hover {
  transform: rotate(90deg);
}

.tile:hover .fa-solid {
  transition: transform 0.3s ease, color 0.9s ease;
  animation: rotateRightLeft 1s ease-in-out;
}

@keyframes rotateRightLeft {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(13deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(-13deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.form-container,
.floating-dialog {
  width: 70%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.floating-dialog h4,
.floating-dialog h5 {
  margin: 0;
}

.floating-dialog h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.floating-dialog h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

.floating-dialog .mdl-dialog__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.floating-dialog .mdl-dialog__actions .mdl-button {
  margin-left: 10px;
}

.closeForm {
  cursor: pointer;
  font-size: 20px;
}


.content {
  padding: 20px;
}

.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
}

.warning-msg {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}


.tabs a {
  text-decoration: none;
  padding: 20px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #000;
}

.tabs a.active {
  background-color: #3700b3;
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: white;
  border: 2px solid #ddd;
  border-top: none;
}

.tab-content.active {
  display: block;
}

/* Container for the difference display */
#difference-container {
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

/* Style for the difference display text */
#difference-display {
  font-size: 2em; /* Adjust size as needed */
  color: red; /* Dark color for text */
  font-weight: bold; /* Bold text */
}

/* Additional styles for responsiveness */
@media (max-width: 600px) {
  #difference-display {
      font-size: 2em; /* Smaller font size on smaller screens */
  }
}
